In [1]:
input={
    'C_Type':['Company'],
	# 'S_Type':['Salaried'],
	'TRI':1,
	'Company_Name':'TREKONIC PRIVATE LIITED ',
	'City':'BANGALORE',
	'Area':['Bull Temple Road','Basavanagudi','Bengaluru Urban'],
	'State':'KARNATAKA',
	'Name':'SHOBHA H',
	'Sur_Name':'H',
	'Trust': False,
	'Pension':False,
 
	'Corporate':False,
	'Profession':'ENTREPRENAUR',
	'Exemption':False,
	'C_Name':'m',
	'GOVT.': False
}

In [2]:
input={
    'C_Type':['Company'],
	# 'S_Type':['Salaried'],
	'TRI':5,
	'Company_Name':'RAIMAXAL PHARAMATEUTICALS PRIVATE LIMITED',
	'City':'SURAT',
	'Area':['Ratanji Nagar','Mithi Khadi','Bhavani Nagar','Limbayat'],
	'State':'Gujarat',
	'Name':'RAJA SHEKAR',
	'Sur_Name':'S',
	'Trust': False,
	'Pension':False,
	'Corporate':False,
	'Profession':'ENTREPRENAUR',
	'Exemption':False,
	'C_Name':'r',
	'GOVT.': False
}

In [19]:
input={
    'C_Type':['Company'],
	# 'S_Type':['Salaried'],
	'TRI':5,
	'Company_Name':'HAXSPLOIT SECURITY SERVICES PRIVATE LIMITED',
	'City':'INDORE',
	'Area':['Kakad','Khandwa'],
	'State':'MADHYA PRADESH',
	'Name':'YASH SHENDGE',
	'Sur_Name':'S',
	'Trust': False,
	'Pension':False,
	'Corporate':False,
	'Profession':'ENTREPRENAUR',
	'Exemption':False,
	'C_Name':'h',
	'GOVT.': False
}

In [36]:
input={
    'C_Type':['Company'],
	# 'S_Type':['Salaried'],
	'TRI':5,
	'Company_Name':'jOURNEY ESCAPE',
	'City':'BANGALORE',
	'Area':['Marenahalli','Saraswathi Nagar'],
	'State':'KARNATAKA',
	'Name':'CHAMPA H N',
	'Sur_Name':'S',
	'Trust': False,
	'Pension':False,
	'Corporate':False,
	'Profession':'ENTREPRENAUR',
	'Exemption':False,
	'C_Name':'j',
	'GOVT.': False
}

In [2]:
default_params = {
    'C_Type': 'Def_C_Type',
    'S_Type': 'Def_S_Type',
    'C_Name': 'All',
    'Sur_Name': 'All',
    'Pension': False,
    'Trust': False,
    'Exemption': False,
    'TRI': 'All',
    'Area': 'All',
    'GOVT.':False,
    'NOT':None
}

In [3]:
import pandas as pd
import ast
lf=pd.read_excel('Mumbai3.xlsx')

In [4]:

lf['C_NAME1'] = lf['C_NAME1'].apply(lambda x: '[' + x + ']')

In [5]:
lf['C_NAME1'] = lf['C_NAME1'].apply(ast.literal_eval)

In [6]:
import ast

# Define a function to convert the string to a dictionary
def convert_to_dict(data_string):
    return ast.literal_eval(data_string)

# Apply the conversion function to the 'ADDITIONAL DESCRIPTION' column
# df1['ADDITIONAL DESCRIPTION'] = df1['ADDITIONAL DESCRIPTION'].apply(convert_to_dict)
# data=convert_to_dict(df1['ADDITIONAL DESCRIPTION'][1])
import traceback

for i, row in lf.iterrows():
    try:
        lf.at[i, 'ADDITIONAL DESCRIPTION'] = convert_to_dict(row['ADDITIONAL DESCRIPTION'])
    except Exception as e:
        print(f"Error occurred at row {i+1}:")
        print(row)
        traceback.print_exc()

In [7]:
filtered_df=lf[lf['CITY']== input['City']]

In [8]:
dropped_count = 0

def filter_data1(input_dict, key, row, default_param=None):
    global dropped_count  # Use the global dropped_count variable
    remaining_data = row['ADDITIONAL DESCRIPTION']['REMAINING_DATA']
    filtered_data = [
        data for data in remaining_data
        if (data.get(key) == input_dict.get(key) or data == input_dict)
        or (default_param is not None and data.get(key) == default_param.get(key))
    ]

    if filtered_data:
        row['ADDITIONAL DESCRIPTION']['REMAINING_DATA'] = filtered_data
        # print(filtered_data)
        return row
    else:
        dropped_count += 1  # Increment the dropped_count variable
        return None

filtered_df=filtered_df.apply(lambda row: filter_data1(input, 'C_Type', row, default_params), axis=1).dropna()

In [9]:
fd=filtered_df.copy()

In [10]:
fs=fd.apply(lambda row: filter_data1(input, 'Pension', row, default_params), axis=1).dropna()
# fs = pd.concat(fs.tolist())

In [11]:
fs=fs.apply(lambda row: filter_data1(input, 'Govt.', row, default_params), axis=1).dropna()
# fs = pd.concat(fs.tolist())

In [12]:
dropped_count = 0

def filter_data(input_dict, key, row, default_param=None):
    global dropped_count  # Use the global dropped_count variable
    c_namedata = row['C_NAME1']
    remaining_data = row['ADDITIONAL DESCRIPTION']['REMAINING_DATA']
    filtered_data = []

    for data_list in c_namedata:
        for data in data_list:
            if input_dict.get(key).lower().startswith(data):
                filtered_data.append(data_list)

    if filtered_data:
        row['ADDITIONAL DESCRIPTION']['REMAINING_DATA'] = remaining_data
        return pd.DataFrame(row).transpose()
    
    else:
            dropped_count += 1  # Increment the dropped_count variable
            return None

fss = fs.apply(lambda row: filter_data(input, 'Company_Name', row, default_params), axis=1).dropna()

if fss.empty:
    # default_row = {'C_NAME1': [], 'ADDITIONAL DESCRIPTION': {'REMAINING_DATA': default_params}}
    fss = fs.copy()
else:
    fss = pd.concat(fss.tolist())

In [13]:
dropped_count = 0

def filter_data(input_dict, key, row, default_param=None):
    global dropped_count  # Use the global dropped_count variable
    remaining_data = row['ADDITIONAL DESCRIPTION']['REMAINING_DATA']
    filtered_data = []
    
    for data in remaining_data:
        area_list = data.get(key)
        
        for area in area_list:
            if any(input_area in area for input_area in input_dict[key] for area in area_list):
                filtered_data.append(data)
                break

    if filtered_data:
        row['ADDITIONAL DESCRIPTION']['REMAINING_DATA'] = filtered_data
        return pd.DataFrame(row).transpose()
    # elif default_param is not None:
    #     row['ADDITIONAL DESCRIPTION']['REMAINING_DATA'] = default_param
    #     return pd.DataFrame(row).transpose()
    else:
        dropped_count += 1
        return None

fz = fss.apply(lambda row: filter_data(input, 'Area', row, default_params), axis=1).dropna()
if fz.empty:
    # default_row = {'C_NAME1': [], 'ADDITIONAL DESCRIPTION': {'REMAINING_DATA': default_params}}
    fz = fss.copy()
else:
    fz = pd.concat(fz.tolist())

In [14]:
fz

,SR. NO.,RCC,AREA CODE,AO TYPE,RANGE CODE,AO NO.,DESCRIPTION,CITY,ADDITIONAL DESCRIPTION,C_NAME,C_NAME1
245,246.0,BLR,KAR,C,131.0,1.0,"CIRCLE 7(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""TA to TZ & U""']","[[ta, tb, tc, td, te, tf, tg, th, ti, tj, tk, ..."

In [15]:
fss

,SR. NO.,RCC,AREA CODE,AO TYPE,RANGE CODE,AO NO.,DESCRIPTION,CITY,ADDITIONAL DESCRIPTION,C_NAME,C_NAME1
245,246.0,BLR,KAR,C,131.0,1.0,"CIRCLE 7(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""TA to TZ & U""']","[[ta, tb, tc, td, te, tf, tg, th, ti, tj, tk, ..."

In [16]:
fd

,SR. NO.,RCC,AREA CODE,AO TYPE,RANGE CODE,AO NO.,DESCRIPTION,CITY,ADDITIONAL DESCRIPTION,C_NAME,C_NAME1
175,176.0,BLR,KAR,C,113.0,1.0,"CIRCLE 1(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""AA to AZ"") ']","[[aa, ab, ac, ad, ae, af, ag, ah, ai, aj, ak, ..."
176,177.0,BLR,KAR,W,113.0,1.0,"WARD 1(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""AA to AL""']","[[aa, ab, ac, ad, ae, af, ag, ah, ai, aj, ak, ..."
177,178.0,BLR,KAR,W,224.0,93.0,"WARD 6(3)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
179,180.0,BLR,KAR,W,113.0,92.0,"WARD 1(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
183,184.0,BLR,KAR,W,313.0,1.0,"WARD 3(3)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
184,185.0,BLR,KAR,C,125.0,1.0,CIRCLE 3(1)(1) BANGALORE,BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""F, I""']","[[f, i]]"
185,186.0,BLR,KAR,W,313.0,95.0,"WARD 5(3)(3), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
187,188.0,BLR,KAR,W,125.0,92.0,"WARD 5(1)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
189,190.0,BLR,KAR,W,313.0,93.0,"WARD 5(3)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
197,198.0,BLR,KAR,C,224.0,1.0,"DC/ACIT CIRCLE 6(1)(1), B",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""SA to SG""']","[[sa, sb, sc, sd, se, sf, sg]]"
198,199.0,BLR,KAR,W,224.0,1.0,"WARD 6(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""SA to SG""']","[[sa, sb, sc, sd, se, sf, sg]]"
201,202.0,BLR,KAR,W,224.0,92.0,"WARD 6(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
204,205.0,BLR,KAR,C,313.0,1.0,"CIRCLE 3(3)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
205,206.0,BLR,KAR,W,125.0,1.0,"WARD 3(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""F""']",[[f]]
206,207.0,BLR,KAR,W,125.0,3.0,"WARD 3(1)(3), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""H""']",[[h]]
207,208.0,BLR,KAR,C,313.0,91.0,"CIRCLE 5(3)(2), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
208,209.0,BLR,KAR,W,125.0,91.0,"WARD 3(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
209,210.0,BLR,KAR,W,125.0,93.0,"WARD 5(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
210,211.0,BLR,KAR,W,313.0,96.0,"WARD 5(3)(4), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
211,212.0,BLR,KAR,W,313.0,92.0,ITO WARD 5(3)(5) BANGALOR,BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
212,213.0,BLR,KAR,W,313.0,94.0,"WARD 5(3)(2), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
222,223.0,BLR,DLC,C,520.0,1.0,"DCIT ASMNT CIR 2(1), BLR",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
227,228.0,BLR,DLC,WX,502.0,1.0,"ITO (EXEMPTIONS) WARD 1,B",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
238,239.0,BLR,KAR,W,124.0,3.0,"WARD 2(1)(3), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""D"" ']",[[d]]
239,240.0,BLR,KAR,C,126.0,1.0,"CIRCLE 4(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' J, L']","[[j, l]]"
240,241.0,BLR,KAR,W,126.0,3.0,"WARD 4(1)(3), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""MA to ML""']","[[ma, mb, mc, md, me, mf, mg, mh, mi, mj, mk, ..."
243,244.0,BLR,KAR,W,131.0,3.0,"WARD 7(1)(3), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""V""']",[[v]]
244,245.0,BLR,KAR,W,131.0,1.0,"WARD 7(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""TA to TO""']","[[ta, tb, tc, td, te, tf, tg, th, ti, tj, tk, ..."
245,246.0,BLR,KAR,C,131.0,1.0,"CIRCLE 7(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""TA to TZ & U""']","[[ta, tb, tc, td, te, tf, tg, th, ti, tj, tk, ..."
248,249.0,BLR,KAR,W,126.0,1.0,"WARD 4(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",[' J or L'],"[[j, l]]"
249,250.0,BLR,KAR,W,124.0,1.0,ITO WARD 2(1)(1) BLR,BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""CA to CL""']","[[ca, cb, cc, cd, ce, cf, cg, ch, ci, cj, ck, ..."
251,252.0,BLR,KAR,W,131.0,91.0,"WARD 7(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
252,253.0,BLR,KAR,W,131.0,93.0,"WARD 7(2)(5), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
253,254.0,BLR,KAR,W,126.0,92.0,"WARD 4(2)(3), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
254,255.0,BLR,KAR,C,124.0,1.0,"CIRCLE 2(1)(1), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...","[' ""CA to CZ""']","[[ca, cb, cc, cd, ce, cf, cg, ch, ci, cj, ck, ..."
255,256.0,BLR,KAR,W,222.0,7.0,"WARD 2(2)(7), BANGALORE",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
256,257.0,BLR,KAR,W,126.0,91.0,"WARD 4(2)(1), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
257,258.0,BLR,KAR,W,131.0,92.0,"WARD 7(2)(3), BANGALORE/",BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]
260,261.0,BLR,KAR,C,991.0,99.0,GOVT CIRCLE,BANGALORE,"{'DEF_AREA': 'NONE', 'REMAINING_DATA': [{'C_Ty...",['All'],[[All]]